.carousel-control-next, 
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
 }
 #indeximagediv {
    display: flex;
    justify-content: center;
}
.copyright-text {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #f8f8f8;
    color: #787878;
}